
# Created by https://www.gitignore.io/api/rails

### Rails ###
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.env

## Environment normalization:
/.bundle
/vendor/bundle

.rvmrc

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

