= render "layouts/nav_bar"

.wrapper
  =t('text.review')
  =link_to @book.title, book_path(@book)
  
  =form_for @rating do |f|
    =f.hidden_field(:user_id, value: current_user.id )
    =f.hidden_field(:book_id, value: @book.id)
    =f.select(:rating, [[1], [2], [3], [4], [5]])

    %br
    =f.label :text, t('label.review_text')
    %br
    =f.text_area(:text, cols: 80, rows: 10)
    %br
    =f.submit
    or
    =link_to t('button.cancel'), book_path(@book)

=javascript_include_tag 'jquery.barrating.min.js'
