%tr
  %td
    %img{:src => "#{order_item.book.image}", :alt => ""}
  %td
    %h4= order_item.book.title
    %p= order_item.book.description
  %td
    %h4
      =number_to_currency(order_item.book.price)
  %td
    =form_for order_item do |f|
      =f.hidden_field(:book_id, value: order_item.book.id)
      =f.number_field(:quantity, value: order_item.quantity, class: "form-control", min: 1)