.carousel {
  margin: 5% 10%;
  .order-form {
    margin: 15px 0;
  }
  .carousel-inner {
    height: 500px;
  }
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.item img {
  max-height: 400px;
  width: 100%;
}

.greeting {
  text-align: center;
  margin-bottom: 50px;
}

.cart {
  line-height: 50px;
  position: relative;
  left: 300px;
}

.item-title {
  span {
    font-size: 2em;
  }
  a {
    font-size: 1.2em;
  }
}

.header, .breadcrumbs {
  position: relative;
  left: 15px;
}

.header {
  font-size: 2em;
}

.category-header {
  margin-top: 0;
}

.thumbnail {
  border-radius: 0;
  img {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  a:hover {
    color: #000;
  }
}

.navbar {
  border-radius: 0;
  a{
    color: #000;
  }
}

.pagination-container {
  text-align: center;
  margin-top: 100px;
}

.book-cover {
  img {
    width: 100%;
  }
}

.wrapper {
  margin: 50px 5%;
}

.price {
  font-size: 1.5em;
}

.order-form {
  text-align: center;
  input {
    width: 60px;
    display: inline-block;
  }

  label {
    position: relative;
    top: 3px;
    font-size: 1.5em;
  }

  button {
    position: relative;
    top: -1px;
  }
}

.reviews {
  margin-top: 30px;
  h4 {
    display: inline-block;
  }
}

.book-decription {
  position: relative;
  top: 10px;
}

.rating {
  margin-bottom: 30px;
  .rating-title, .rating-date {
    display: inline-block;
  }
  .rating-title {
    font-size: 1.5em;
  }
}