=f.text_field :firstname, placeholder: "Firstname"
=f.text_field :lastname, placeholder: "Lastname"
=f.text_field :street, placeholder: "Street address"
=f.text_field :city, placeholder: "City"
=f.select :country, @countries
=f.text_field :zipcode, placeholder: "Zip"
=f.telephone_field :phone, placeholder: "Phone"
%button.btn.btn-default SAVE